//temp
.block-highlights, .block-about {
	// display: none !important;
}
.block-product {
	padding-bottom: 60px;
}
body {
	background-color: $BG_COLOR;
	color: $DARK_GREY;
	font-family: $BODY_FONT;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: .05em;
}

strong {
	font-weight: 500;
}

#wrapper {
	// background-image: linear-gradient( transparent, #fff 75%);
}

#splash {
	@include flex(center, center, row);

	background-image: linear-gradient(#fafafa, #fff);
	position: fixed;
	width: 100vw;
    height: 100vh;

	img {

	}
}

section > .grid__container {
	// @include flex();
	padding: 15px 30px;
}

.table-wrap {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    overflow-x: scroll;
    width: 100%;
    max-width: 100%;

    table {
        border: 1px solid #ddd;
        border-right: 0 solid;
        border-left: 0 solid;
        margin-right: -1px;
        min-width: 800px;

        th {
            font-weight: bold;
        }
        td, th {
            border-bottom: 1px solid #ddd;
            border-right: 1px solid #ddd;
            color: #000;
            font-size: 15px;
            padding: 3px 10px;
            vertical-align: top;

            &:last-child {
                border-right: 0 solid;
            }
        }
    }
}
.table-help {
    margin-top: 10px;
    display: block;

    @media screen and ( min-width: 1090px ) {
        display: none;
    }
}

/* ================================= */
// Ninja Form styles
/* ================================= */

.nf-form-content {
    select, input:not([type="button"] ), textarea {
        border-radius: 4px;
        border: 2px solid #ddd;
        color: $DARK_GREY;
        font-size: 16px;
        outline: none;
        padding: 0 10px;
    }
    textarea {
        padding-top: 10px;
    }
    select {
        height: 40px !important;
        background-color: #fff;
    }
    input:not([type="button"] ) {
        height: 40px;
    }
    input[type="checkbox"] {
        height: auto;
    }
    input[type="button"] {
        border: none;
        cursor: pointer;
        line-height: 1;
    }
    .list-checkbox-wrap {
        li {
            display: flex;
            align-items: center;

            label {
                margin-left: 10px !important;
            }
        }
    }
}
.nf-form-fields-required {
    display: none;
}
.block-product-tabs__content .nf-form-layout {
    @media screen and ( min-width: $LAP ) {
        width: 66.6%;
    } 
}