.card-announcement-item { 
	@include flex($align: flex-start); 
    margin-bottom: 30px;
    position: relative;
    text-align: left;
    width: 100%;
}
.card-announcement-item__details {
	flex: 1;
	text-align: left;
}
.card-announcement-item__background {
	@include flex($justify: center);

	background-position: center;
	background-size: cover; 
	height: 100px;
	margin-right: 15px;
	width: 100px;
}
.card-announcement-item__link {
	color: $GREY;
	font-size: 16px;
	font-weight: 100 !important;
	text-decoration: none;
}
.card-announcement-item__title {
	color: $BLUE;
	display: block;
	font-family: $HEADLINE_FONT;
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.card-announcement-item__excerpt {
	line-height: 1.2;
	margin-bottom: 10px;

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.card-announcement-item__label {
	font-family: $BODY_FONT;
	font-size: 21px;
}
.card-announcement-item__divider {
	height: 3px;
	width: 122px;
	background-color: $CALLOUT_GREY;
	margin-bottom: 30px;
}