.card-team-item {  
	display: flex;
	flex-direction: column;
    text-align: left;
    width: 100%;

    @media screen and ( min-width: $LAP ) {
    	flex-direction: row;
    }
    
}
.card-team-item__details {
	flex: 1;
}
.card-team-item__title {
	font-size: 28px;
	margin-bottom: 30px;
}
.card-team-item__bio {
	max-width: 800px;
}
.card-team-item__avatar {
	flex: none;
	margin-bottom: 15px;
	// padding-right: 30px;
	width: 120px;

	img {
		border-radius: 100px;
		max-width: 100%;
		width: 100%;
	}

	@media screen and ( min-width: $LAP ) {
    	padding-right: 30px;
    	margin-bottom: 0;
    	width: 182px;
    }

}

#block-advisory-members {
		h3 {
			margin-top: 60px;
		}
	}