//hp styles
.card-testimonial-item{
	font-size: 18px;
	color: $DARK_GREY;
	line-height: 24px;

	@media screen and ( max-width: $LAP ) {
		padding: 30px 30px 0;
	}
	
	strong {
		font-size: inherit;
		color: $RED;
	}
	a {
		color: inherit;
	}
}
.card-testimonial-item_content {
	display: block;
	margin-bottom: 15px;
}
.card-testimonial-item_avatar {
	border-radius: 100px;
	margin: 0 !important;
	width: 100% !important;
}
.card-testimonial-item_name{
	color: $RED;
	font-weight: 500;
}
.card-testimonial-item_meta {
	padding-left: 15px;

	&.no-avatar {
		padding-left: 0;
	}

	> span {
		display: block;
	}
	strong {
		color: $RED;
	}
}


// page styles
.block-page--testimonials {
	.card-testimonial-item {  
		display: flex;
		flex-direction: column;
		padding: 0;
	    text-align: left;
	    width: auto;

	    @media screen and ( min-width: $LAP ) {
	    	flex-direction: row;
	    }
	}
	.card-testimonial-item__details {
		flex: 1;
	}
	.card-testimonial-item__avatar {
		border-radius: 100px;
		margin-right: 15px;
		width: 70px;
	}
	.card-testimonial-item__name {
		color: $BLACK;
		font-size: 18px;
		font-weight: 500;
		text-transform: uppercase;
	}
	.card-testimonial-item__content {
		color: $BLACK;
		display: block;
		font-family: $BODY_FONT;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.6;
		margin-bottom: 30px;
		max-width: 800px;
	}
	.card-testimonial-item__category {
		color: #ccc;
		flex: none;
		font-size: 17px;
		margin-top: 5px;
		padding-right: 30px;
		text-align: left;
		width: 220px;
	    display: none;
	    // font-weight: 400;
	    line-height: 1.3;

	    span {
	    	display: block;
	    	padding-bottom: 5px;
	    	// margin-top: 8px;

	    }

	    &--mobile {
	    	display: block;	
	    	margin-bottom: 20px;
	    	margin-top: 0;
	    	width: auto;
	    }
	    @media screen and ( min-width: $LAP ) {
	    	display: block;

	    	&--mobile {
	    		display: none;
	    	}
	    }
	    
	}
	.card-testimonial-item__footer {
		align-items: flex-start;
		display: flex;
		flex-direction: row;
	}
	.card-testimonial-item__meta {
		display: flex;
		flex-direction: column;
	}	
}

