.card-testimonial-item{
	font-size: 18px;
	color: $DARK_GREY;
	line-height: 24px;

	@media screen and ( max-width: $LAP ) {
		padding: 30px 30px 0;
	}
	
	strong {
		font-size: inherit;
		color: $RED;
	}
	a {
		color: inherit;
	}
}
.card-testimonial-item_content {
	display: block;
	margin-bottom: 15px;
}
.card-testimonial-item_avatar {
	border-radius: 100px;
	margin: 0 !important;
	width: 100% !important;
}
.card-testimonial-item_name{
	color: $RED;
	font-weight: 500;
}
.card-testimonial-item_meta {
	padding-left: 15px;

	&.no-avatar {
		padding-left: 0;
	}

	> span {
		display: block;
	}
	strong {
		color: $RED;
	}
}