.component-button {
	@include flex(center, center, row);
	// height: 76px;
	background-color: $RED;
	border-radius: 100px;
	color: #fff;
	font-family: "futura-pt";
	font-size: 20px;
	font-weight: 100;
	letter-spacing: .03em;
	min-width: 200px;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	text-transform: lowercase;
	transition: all .3s;

	&:hover {
        background-color: darken($RED, 5%);
    }
}

.component-button--more-news-and-events {
	margin: 60px auto 0;
    max-width: 54px;
    background-color: #333;
    padding: 10px 0;
    font-size: 16px;

    &:hover {
    	background-color: $DARK_GREY;
    }
}
.component-button--close {
	color: #ddd;
	cursor: pointer;
	font-size: 36px;
	margin-right: 30px;
	margin-top: 8px;

	&:hover {
		color: $GREY;
	}

    @media screen and ( min-width: 767px  ) {
    	font-size: 60px;
    	margin: 0;
		position: fixed;
		top: 60px;
		right: 60px;
    }
}