.component-callout {
    background-color: $CALLOUT_GREY;
    color: $BLACK;
    padding: 60px;
    border-radius: 10px;
    display: flex;
    font-size: 18px;
    justify-content: center;
    margin-bottom: 60px;

    iframe {
    	border: 1px solid #fff !important;
    }

    > .grid {
    	display: flex;
    	flex-direction: column;

    	@media screen and ( min-width: $DESK ) {
    		flex-direction: row;
    	}	
    }

    h4 {
    	font-size: 18px;
    	font-weight: 500;
    	line-height: 1.3;
    	margin-bottom: 30px;
    }

    p, ul {
    	font-size: 18px;
    	line-height: 1.5;
    	color: $BLACK;

    	strong {
    		font-weight: 700;
    	}
    }

    a {
    	color: $BLACK;
    	text-decoration: none;
    }

    ul {
    	line-height: 2;
    }

    img {
        max-width: 100%;
    }

    .grid__item {
    	&:last-child {
    		.component-callout__section {
    			border: 1px solid $LIGHT_GREY;
    			border-width: 1px 0 0;
    			margin-top: 15px;
    			padding-top: 15px;

    			@media screen and ( min-width: $DESK ) {
    				border-width: 0 0 0 1px;
    				margin-top: 0;	
    				padding-left: 30px;
    				padding-bottom: 0;
    				padding-top: 0;
    			}
    			
    		}	
		}
    }
}
.component-callout__section {
	height: 100%;
}