.block-custom-content {
	padding: 30px 15px;

	.grid--main {
		flex-direction: column;

		@media screen and ( min-width: $PALM ) {
			flex-direction: row;
		}
	}
	
	.grid--image-right {
		flex-direction: column-reverse;
		
		@media screen and ( min-width: $PALM ) {
			flex-direction: row;
		}
	}
	
	.grid--image-left {
		flex-direction: column-reverse;

		@media screen and ( min-width: $PALM ) {
			flex-direction: row-reverse;
		}
	}

	@media screen and ( min-width: $PALM ) {
		padding: 90px 30px;
	}

	.block-page__headline {
		color: $BLUE;
	}

	.block-page__imagebox {
		margin-bottom: 30px;
		
		img {
			width: 100%;
		}

		@media screen and ( min-width: $PORTABLE ) {
			margin-bottom: 0;
		}
		
	}

	& > .grid__container {
		@media screen and ( max-width: $PALM - 1 ) {
			padding: 15px 10px;
		}		
	}

	.block-page__content {
		height: 100%;
		display: flex;
		align-items: center;

		@media screen and ( max-width: $PORTABLE - 1 ) {
			margin-bottom: 0;

			p {
				margin-bottom: 0;
			}
		}	
	}
}

.block-hero--custom {

	.grid__super-container-wrap {

		@media screen and ( min-width: $PALM ) {
			padding: 0 30px;
		}
		
		@media screen and ( min-width: $LAP ) {
			padding: 0 60px;
		}
	}

	.block-hero__headline {
		@media screen and ( min-width: $LAP ) {
			padding-left: 15px;
		}
	
		@media screen and ( max-width: $LAP ) {
			margin-bottom: 30px;
		}
		
		span {
			letter-spacing: .08em;
			line-height: 1.5;
		}
	}

	.block-hero__video {
		padding-bottom: 50%;
		position: relative;

		iframe {
			width: calc(100% - 50px);
			position: absolute;
			left: 25px;
			top: 0;

			@media screen and ( min-width: $LAP ) {
				left: 15px;
				width: calc(100% - 15px);
			}

		}
	}	

	&.video--left {
		.grid--full {
			flex-direction: row-reverse;
		}

		iframe {

			@media screen and ( min-width: $LAP ) {
				left: 0;
			}
		}
	}
}

.block-hero--text-only {

	.grid__super-container {
		display: flex;
	}
	
	.block-hero__headline {
		display: flex;

		@media screen and ( max-width: $PALM ) {
				padding: 0 25px;
			}

		span {
			width: 100%;

			@media screen and ( min-width: $PALM ) {
				width: 60%;
			}
			
			@media screen and ( min-width: $LAP ) {
				width: 75%;
			}
		}
	}

	&.height--small {
		.grid__super-container {
			min-height: 0;
		}
	}
	&.height--medium {
		.grid__super-container {
			min-height: 300px;
		}
	}		
	&.height--large {
		.grid__super-container {
			min-height: 600px;
		}
	}

	&.text--left {
		.block-hero__headline {
			justify-content: flex-start;

			span {
				text-align: left;
			}
			
		}
	}
	&.text--center {
		.block-hero__headline {
			justify-content: center;

			span {
				text-align: center;
			}
			
		}
	}
	&.text--right {
		.block-hero__headline {
			justify-content: flex-end;

			span {
				text-align: right;
			}
			
		}
	}

}