.block-footer {
	@include flex(center, center, column);
	background-color: $RED;
	background-color: #00335d;
	background-position: center;
	background-size: cover;
	box-shadow: inset -10px 0px 10px rgba(0,0,0,.3);
	color: #fff;
	padding: 60px 30px;

	.grid__container {
		// max-width: 900px;
		width: 100%;
	}

	hr {
		border: 0 solid;
		border-bottom: 1px solid $LIGHT_RED;
		border-bottom: 1px solid #195485;
		margin: 30px 0;
	}

	.block-footer__column{
		@media screen and ( min-width: $LAP ) {
			border-right: 1px solid $LIGHT_RED;
			border-right: 1px solid #195485;
			height: 100%;
			padding-right: 15px;
		}
		
	}

	.grid {
		display: flex;
	}
}
.block-footer__columns {
	flex-direction: column;

	@media screen and ( min-width: $LAP ) {
		flex-direction: row;
	}
	
	.grid__item:last-child {

		.block-footer__column {
			border-right: 0 solid;
			padding-right: 0;
		}
		
	}
}
.block-footer__menu {
	& #menu-footer-menu {
		@include flex(flex-start, flex-start, column);

		margin-bottom: 10px;

		a, h3 {
			// border-right: 1px solid rgba(255,255,255,.5);
			color: #fff;
			display: block;
			font-size: 18px;
			font-family: $BODY_FONT;
			letter-spacing: .1em;
			// padding-right: 10px;
			margin-bottom: 10px;
			text-decoration: none;
			// text-transform: uppercase;		
		}
		li {
			&:last-child {
				a {
					border-width: 0;
					margin-right: 0;
					padding-right: 0; 	
				}
				
			}
		}
	}
}
.block-footer__heading {
	color: #fff;
	display: block;
	font-size: 18px;
	font-family: $BODY_FONT;
	font-weight: 400;
	letter-spacing: .1em;
	// padding-right: 10px;
	margin-bottom: 30px;
	text-decoration: none;
	text-transform: uppercase;	

	@media screen and ( max-width: $LAP ) {
		border-top: 1px solid #195485;
		margin-top: 30px;
		padding-top: 30px;
	}

	.grid__item:first-child & {
		margin-top: 0;
		padding-top: 0;
		border-top: 0 solid;
	}
	
}
.block-footer__branding {
	text-align: right;

	@media screen and ( max-width: $LAP ) {
		margin-bottom: 30px;
	}
	
}
.block-footer__logo {
	max-width: 210px;
}
.block-footer__content {
	// border-left: 1px solid rgba(255,255,255,.5);
	opacity: .8;
	padding-left: 15px;
}
.block-footer__copyright {
	font-family: $BODY_FONT;
	font-size: 14px;
	font-weight: 100;
	letter-spacing: .1em;

	a {
		color: #fff;
		display: inline-block;
		margin-top: 10px;
		text-decoration: none;
		transition: .3s;

		&:hover {
			opacity: .8;
		}
	}
}
.block-footer__contact {
	color: #fff;

	form {
		max-width: 400px;
	}

	input, select, textarea {
		border: 0 solid !important;
	}
	textarea {
		height: 85px !important;
	}
	.nf-field-container {
		margin-bottom: 10px;
	}
	input[type="button"] {
        background-color: darken($RED, 10%);
        background-color: #195485;

        &:hover {
        	background-color: darken($RED, 5%);
        	background-color: darken(#195485, 5%);
        }
    }
    .nf-error-msg {
    	color: #fff;
    }
}
.block-footer__logo-box {
	display: flex;

	a {
		display: block;
		padding-right: 2%;
		max-width: 20%;
		transition: opacity .3s;

		&:hover {
			opacity: .8;
		}
	}
	img {
		max-width: 100%;
		width: 100%;
	}
}
.block-footer__partners-logos {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: flex-start;

    @media screen and ( min-width: $LAP ) {
    	align-items: center;
    }
    

    a {	
    	transition: opacity .3s;

    	&:hover {
    		opacity: .8;
    	}
    }

    img {
    	margin-bottom: 5px;
    }
}
.block-footer__partners {
	h3 {
		text-align: left;

		@media screen and ( min-width: $LAP ) {
			text-align: center;
		}
		
	}
}
.block-footer__closing {

	@media screen and ( max-width: $LAP ) {
		flex-direction: column-reverse;

		section {
			text-align: left;
		}
	}
}
.block-footer__newsletter-link {
	a {
		color: #fff;
	}
}
.block-footer__newsletter-signup {
	.component-button {
		background-color: darken($RED, 10%);
        background-color: #195485;
        border: 0 solid;
        cursor: pointer;
        padding: 12px;

        &:hover {
        	background-color: darken($RED, 5%);
        	background-color: darken(#195485, 5%);
        }
	}
}