.block-header {
	@include flex(flex-start, center, column);
	height: 200px;
	padding: 0 15px;	
}
.block-header__cta {
	margin-top: 30px;

	@media screen and ( min-width: $LAP ) {
		position: absolute;
		right: 30px;
		top: 95px;	
		margin-top: 0;
	}
	
}

.block-header--menu {
	//temp
	display: none;
	#menu-menu-1 {
		@include flex(center, center, row);
		min-height: 60px;
	}

	.sub-menu {
		display: none;
	} 

	.menu-item a {
		color: $DARK_GREY;
		font-size: 18px;
		font-family: $BODY_FONT;
		font-weight: 300;
		letter-spacing: .1em;
		text-align: left;
		text-decoration: none;
		// text-transform: uppercase;
		margin: 10px 20px 10px 0;
	}
	
}

.block-header__logo {
	max-width: 100%;
}
.block-header--site-title {
	a {
		display: block;
		text-align: center;

	}
}