.block-hero {
	.grid__super-container {
		@include flex(center, flex-start, row);

	    // padding-bottom: 18%;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center;
		// height: 250px;
		position: relative;

		@media screen and ( min-width: $PALM ) {
			// height: auto;
		}
		@media screen and ( min-width: $LAP ) {
			// height: 800px;
		}
		
	}
	.grid__container {
	    @include flex(center, flex-start, row);
	    width: 100%;
	}
}
.block-hero__bg-video {
	height: auto;
	visibility: hidden;
	width: 100%;

	@media screen and ( min-width: $PALM ) {
		visibility: visible;
	}

}
.block-hero__content {
	display: flex;
	align-items: center;
	position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
.block-hero__headline {
	margin-left: 30px;
	// padding: 75px 0;

	span {
		background-color: rgba(255,255,255,.5);
		color: $RED;
		font-size: 22px;
		letter-spacing: .3em;
		line-height: 60px;
		padding: 10px 30px;
		text-transform: uppercase;

		@media screen and ( min-width: $PALM ) {
			font-size: 32px;
			line-height: 80px;
			padding: 12px 30px;
		}

		@media screen and ( min-width: $LAP ) {
			font-size: 42px;
			line-height: 120px;
			padding: 15px 30px;
		}
		
	}
}
.block-hero__slideshow {
	max-width: 100%;
	max-height: 100%;

	.slick-next {
		right: 25px;
	}
	.slick-prev {
		left: 25px;
		z-index: 1;
	}
	img {
		width: 100%;
	}
}


#block-hero--product-page {
	.grid__super-container {
		@include flex(flex-start, flex-start, row);

	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center;
		height: 400px;
		z-index: -1;
	}
	.grid__container {
	   display: block;
	    width: 100%;

		.grid {
			// @include flex(flex-end, flex-start, row);
		}
		
	}
	.block-hero__isolated-image {
		margin-top: -50%;
		max-width: 100%;
	}
	.block-hero__content {
		padding-top: 30px;
		position: static;
		flex-direction: column;
		align-items: flex-start;
	}
	.block-hero__heading {
		color: $RED;
		font-family: $HEADLINE_FONT;
		font-size: 32px;
		font-weight: 500;
		margin-bottom: 30px;
		text-transform: uppercase;
	}
	.block-hero__wysiwyg {
		@include flex(flex-end, flex-start, row);

		color: $GREY;
		font-size: 24px;
		font-weight: 500;
		line-height: 36px;

		ul {
			font-weight: 100;
			list-style-type: disc;
			list-style-position: outside;
			margin-left: 20px;

			&:first-child {
				margin-right: 30px;
			}
		}
	}

	.product-right {
		.block-hero__isolated-image {
			margin-top: -10%;
			max-width: none;
			position: relative;
			right: 300px;
		}
	}
}
.block-hero__divider {
	height: 1px;
	width: 100%;
	background-color: $LIGHT_GREY;
	margin: 30px 0;
}