.block-highlights {
	background-color: #fff;
	padding-bottom: 60px;
	overflow: hidden;
	
	.grid__container {
		max-width: 1100px;
	}
	.grid--scrollable {
		max-height: 580px;
		overflow-y: scroll; 
	}
}
.block-highlights__heading {
	color: $BLACK;
	font-family: $BODY_FONT;
	font-size: 22px;
	font-weight: 400;
	margin: 30px 0;
	text-transform: uppercase;
}
.block-highlights__divider {
	height: 1px;
	width: 100%;
	background-color: $LIGHT_GREY;
	margin: 30px 0;
}
.block-highlights__publications-message {
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
	margin-bottom: 30px;
}
.block-highlights__publications-logos {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;

	img {
		padding: 0 5px 5px 0;
	}
}