.block-page {
	> .grid__container {
		background-color: #fff;
		margin: -100px auto 0x;
		padding: 30px;

		@media screen and ( min-width: $LAP ) {
			margin: -200px auto 120px;
		padding: 90px;
		}
		
	}


	// .callout {
	//     background-color: #eee;
	//     padding: 60px;
	//     border-radius: 10px;
	//     display: flex;
	//     justify-content: center;
	//     margin-bottom: 60px;
	// }
}
.block-page__imagebox {
	@include flex(flex-start, center, row);

	img {
		height: auto;
		max-width: 100%;
	}

}
.block-page__content {

	margin-bottom: 60px;

	p, li, a {
		font-size: 18px;
		line-height: 1.5;
		margin-bottom: 30px
	}

	strong {
		font-weight: 400;
	}

	h3 {
		border-bottom: 1px solid $LIGHT_GREY;
		color: $BLUE;
		font-family: $HEADLINE_FONT;
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 30px;
		padding-bottom: 5px;
		text-transform: uppercase;
	}

	h4 {
		color: #000;
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 15px;
	}

	a {
		color: #000;
		font-weight: 400;
	}

	ul {
		list-style-type: circle;
		padding-left: 15px;
	}

	img {
		max-width: 100%;
	}

}
.anchor-list {
	a {
		text-decoration: none;
	}
}
.block-page__content-inner {
	// padding: 60px;
	// position: relative;
	// text-align: left;
}
.block-page__headline {
	color: $RED;
	font-family: $HEADLINE_FONT;
	font-size: 28px;
	font-weight: 300;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.block-page--products {
	.block-product {
		.grid__container {
			padding: 0;
		}
	}
}