.block-page {
	> .grid__container {
		background-color: #fff;
		margin: -200px auto 120px;
		padding: 90px;
	}
}
.block-page {

}
.block-page__imagebox {
	@include flex(flex-start, center, row);

	img {
		height: auto;
		max-width: 100%;
	}

}
.block-page__content {

	p {
		font-size: 18px;
		line-height: 1.5;
		margin-bottom: 30px
	}

	strong {
		font-weight: 600;
	}

	h3 {
		border-bottom: 1px solid $LIGHT_GREY;
		color: $RED;
		font-family: $HEADLINE_FONT;
		font-size: 18px;
		margin-bottom: 30px;
		padding-bottom: 5px;
		text-transform: uppercase;
	}

	h4 {
		color: #000;
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 15px;
	}
}
.block-page__content-inner {
	// padding: 60px;
	// position: relative;
	// text-align: left;
}
.block-page__headline {
	color: $RED;
	font-family: $HEADLINE_FONT;
	font-size: 28px;
	font-weight: 100;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.block-page--products {
	.block-product {
		.grid__container {
			padding: 0;
		}
	}
}