.block-product-tabs {
    padding-bottom: 60px;
}
.block-product-tabs__content {
    opacity: 0;
    display: none;
    z-index: -1;
    width: 100%;
    transition: opacity .3s;

    &.active {
        display: block;
        opacity: 1;
        z-index: 1;
    }

    font-size: 20px;
    line-height: 30px;

    img {
        max-width: 100%;
    }

    a {
        font-weight: 600;
    }
    p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 30px
    }

    strong {
        font-weight: 600;
    }

    h3 {
        // border-bottom: 1px solid $LIGHT_GREY;
        color: $RED;
        font-family: $HEADLINE_FONT;
        font-size: 18px;
        margin-bottom: 30px;
        padding-bottom: 5px;
        text-transform: uppercase;
    }

    h4 {
        color: #000;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 15px;
    }  
    .callout {
        background-color: $CALLOUT_GREY;
        padding: 60px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        margin-bottom: 60px;

        img {
            max-width: 100%;
        }
    }
    ul {
        list-style-type: circle;
        margin-bottom: 30px;
        margin-left: 20px;
    }
    li {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .anchor-list {
        margin-bottom: 30px;
        a {
            color: #000;
            margin-bottom: 30px;
        }
    }
    .table-wrap {
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
        overflow-x: scroll;
        width: 100%;
        max-width: 100%;
    
        table {
            border: 1px solid #ddd;
            border-right: 0 solid;
            border-left: 0 solid;
            margin-right: -1px;
            min-width: 800px;

            th {
                font-weight: bold;
            }
            td, th {
                border-bottom: 1px solid #ddd;
                border-right: 1px solid #ddd;
                color: #000;
                font-size: 15px;
                padding: 3px 10px;
                vertical-align: top;

                &:last-child {
                    border-right: 0 solid;
                }
            }
        }
    }
    .table-help {
        margin-top: 10px;
        display: block;

        @media screen and ( min-width: 1090px ) {
            display: none;
        }
    }
}
.block-product-tabs__container {
    position: relative;
}

.block-product-tabs__tab {
    font-size: 20px;

    a {
        display: block;
        padding: 10px 0;
        cursor: pointer;
        

        &.active {
            color: $RED;
            font-weight: 400;
        }
    }

    &--ordering-info {
        font-weight: 600;
        border-top: 1px solid #ddd;
        margin-top: 15px;
        color: $BLACK;
        padding-top: 10px;
    }
}