.block-vertical-tabs {
    padding-bottom: 60px;
}
.block-vertical-tabs__content {
    opacity: 0;
    display: none;
    z-index: -1;
    width: 100%;
    transition: opacity .3s;

    &.active {
        display: block;
        opacity: 1;
        z-index: 1;
    }

    font-size: 20px;
    line-height: 30px;

    img {
        max-width: 100%;
    }

    a {
        color: $DARK_GREY;
        font-weight: 400;
    }
    p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 30px
    }

    strong {
        font-weight: 400;
    }

    h3 {
        // border-bottom: 1px solid $LIGHT_GREY;
        color: $BLUE;
        font-family: $HEADLINE_FONT;
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 30px;
        padding-bottom: 5px;
        text-transform: uppercase;
    }

    h4 {
        color: #000;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 15px;
    }  
    .callout {
        align-items: center;
        background-color: $CALLOUT_GREY;
        padding: 60px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        margin-bottom: 60px;

        img {
            max-width: 100%;
        }
    }
    ul {
        list-style-type: circle;
        margin-bottom: 30px;
        margin-left: 20px;
    }
    li {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .anchor-list {
        margin-bottom: 30px;
        a {
            color: #000;
            margin-bottom: 30px;
        }
    }
    .table-wrap {
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
        overflow-x: scroll;
        width: 100%;
        max-width: 100%;
    
        table {
            border: 1px solid #ddd;
            border-right: 0 solid;
            border-left: 0 solid;
            margin-right: -1px;
            min-width: 800px;

            th {
                font-weight: bold;
            }
            td, th {
                border-bottom: 1px solid #ddd;
                border-right: 1px solid #ddd;
                color: #000;
                font-size: 15px;
                padding: 3px 10px;
                vertical-align: top;

                &:last-child {
                    border-right: 0 solid;
                }
            }
        }

        &.has-custom-image-headers {
            border: none;

            table {
                border: 0 solid;

                @media screen and ( max-width: $PALM ) {
                    min-width: 0;
                    width: calc(100% - 1px) !important;
                }
            }

            td.img-cell {
                border-right: 1px solid #ddd;
                border-bottom: none;
                vertical-align: middle;

                @media screen and ( max-width: $PALM ) {
                    display: none;
                }
            }
            .spacer {
                border: none;
            }

            tbody {
                &:not(.tbody--spacer) {
                    border-right: 1px solid #ddd;

                    @media screen and ( max-width: $PALM ) {
                        td, th {
                            font-size: 13px;
                            line-height: 1;
                            padding: 10px 5px;

                            &:first-child {
                                border-left: 1px solid #ddd;
                            }
                            &:last-child {
                                border-right: 1px solid #ddd;
                            }
                        }
                    }
                }

                tr:nth-child(2) {
                    th {
                        border-top: 1px solid #ddd;
                    }
                }

                &.mobile-image-header {
                    display: none;

                    @media screen and ( max-width: $PALM ) {
                        display: block;
                        border: 0 solid;

                        td {
                            border: 0 solid !important;
                        }
                    }
                }
            }
        }
    }
    .table-help {
        margin-top: 10px;
        display: block;

        @media screen and ( min-width: 1090px ) {
            display: none;
        }
    }
}
.has-custom-image-headers + .table-help  {
    display: none;
}
.block-vertical-tabs__container {
    position: relative;
}

.block-vertical-tabs__tab {
    font-size: 20px;

    a {
        display: block;
        font-weight: 300;
        padding: 10px 0;
        cursor: pointer;
        transition: color .3s;
        

        &.active {
            color: $BLACK;
            font-weight: 400;
        }
        
        &:hover {
            color: $BLUE;
        }
    }

    &--ordering-info {
        font-weight: 300;
        font-size: 24px;
        border-top: 1px solid #ddd;
        margin-top: 15px;
        color: $RED;
        padding-top: 10px;

        a {
            color: $RED;
            font-weight: 400;
        }
    }
}
.block-vertical-tabs__tab-container {
    @media screen and ( max-width: $PALM ) {
        margin-bottom: 30px;
    }
}