$OFF_WHITE: #fafafa;
$BG_COLOR: $OFF_WHITE;
$GREY: #999;
$DARK_GREY: #69696b;
$LIGHT_GREY: #dcdcdc;
$PINK: #E98395;
$YELLOW: #CCB969;
$RED: #e9434e;
$PURPLE: #9f809c;


$PALM: 480PX;
$LAP: 768PX;
$PORTABLE: 1023PX;
$DESK: 1024PX;



$HEADLINE_FONT: "base-mono-wide";
$BODY_FONT: "futura-pt";