$OFF_WHITE: #fafafa;
$CALLOUT_GREY: #eee;
$BLACK: #333;
$BG_COLOR: $OFF_WHITE;
$GREY: #999;
$DARK_GREY: #69696b;
$LIGHT_GREY: #dcdcdc;
$RED: #e62c39;
$LIGHT_RED: #f75f69;
$PURPLE: #9f809c;
$BLUE: #0096bd;


$PALM: 480PX;
$LAP: 768PX;
$PORTABLE: 1023PX;
$DESK: 1024PX;



// $HEADLINE_FONT: "base-mono-wide";
$HEADLINE_FONT: "Roboto", avenir, arial;
$BODY_FONT: "Roboto", avenir, arial;